body {background: #e9ebee;}
.globalContainer {
    margin: 0 auto;
    position: relative;
    zoom: 1;
    width: 900px;
    min-height: 947px;
}
.fb_content {
    min-height: 612px;
    padding-bottom: 20px;
}
.clearfix {
    zoom: 1;
}
.pb-4 {
    padding-bottom: 4px;
}
.mt-0 {
    margin-top: 0px !important;
}
.float-right {
    float: right !important;
}
.float-left {
    float: left !important;
}
.opacity-low {
    opacity: .6 !important;
}
.clearfix-t {
    margin-top:12px;
    vertical-align: top;
}