.globalContainer {
    margin: 0 auto;
    position: relative;
    zoom: 1;
    width: 900px;
    min-height: 947px;
}
.fb_content {
    min-height: 612px;
    padding-bottom: 20px;
}
.clearfix {
    zoom: 1;
}