a, a:link, ._linker {
    color: #365899;
    cursor: pointer;
    text-decoration: none;

    &.link_sm {
        color: #3578e5;

        &:hover{
            text-decoration: underline;
        }
    }
}

.pointer {cursor:pointer;}
.t_sm {font-size:75%;}
.f-13 {font-size:13px;}
.mar_lr {margin:0px 15px;}
.muted { color: #90949c; }
.ver_top {vertical-align:top;}