a, a:link, ._linker {
    color: #365899;
    cursor: pointer;
    text-decoration: none;

    &.link_sm {
        color: #3578e5;

        &:hover{
            text-decoration: underline;
        }
    }
}

.pointer {cursor:pointer;}