.UserHead {
  display: flex;
  padding: 5px;

    .Avatar {
        width:40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }

    .userAvatarContainer {
        position: relative;
        float: left;
    }
}

.UserInfo {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    display:inline;
    padding: 5px 10px 0px;
}

.timeLabel {
    font-size: 12px;
    color: #616770;
    display: block;
    padding: 0px 50px;
}

.onlineTag {
    background-color: #42b72a;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 9px;
    left: 76%;
    position: absolute;
    top: 68%;
    width: 9px;
    z-index: 1;
}

/*
User Page
*/

.userCoverContainer {
    display: block;
    position: relative;
    height: 315px;
    overflow: hidden;
    text-decoration: none;

    .coverImage {
        top: 0px;
        width: 100%;

        img {
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            left: 0;
        }
    }

    .coverBorder {
        background: linear-gradient(rgba(0,0,0,0) 71%, rgba(0,0,0, .53));
        border-bottom-color: rgba(0, 0, 0, .4);
        border: 1px solid #000;
        border-color: rgba(0, 0, 0, .25);
        border-top-color: rgba(0, 0, 0, .1);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

/*
User page grid
*/

.profilePicThumb {
    box-shadow: none;
    height: 160px;
    left: 15px;
    margin-top: 0;
    top: -143px;
    width: 160px;
    display: block;
    padding: 5px;
    position: absolute;
    border-radius: 100%;
    background: rgba(0, 0, 0, .15);
    background-color: #fff;
    border: 1px inset #d3d6db;
}

.userInfoCover {
    ._2xc6 {
        bottom: 12px;
        left: 201px;
        position: absolute;
        top: -70px;
    }
    ._2nlv {
        font-size: 24px;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        line-height: 30px;
        max-width: 275px;
        position: relative;
        margin:0;

        .alternate_name {
            float: left;
            font-size: 20px;
            font-weight: normal;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 280px;
        }
    }
    ._2nly {
        position: absolute;
        white-space: nowrap;
    }
    ._2nlw {
        color: #fff;
        text-rendering: optimizelegibility;
        text-shadow: 0 0 3px rgba(0, 0, 0, .8);
    }
}

.coverHeaderContainer {
    border: 1px solid #d3d6db;
    border-radius: 0 0 3px 3px;
}

.fbTimelineHeadline {
    min-height: 41px;
    position: relative;
    width: 100%;
    z-index: 4;

    .actionsCoverPic {
        bottom: 15px;
        padding: 0;
        position: absolute;
        right: 15px;
    }

    .headerMenu {
        clear: right;
        padding-left: 201px;
        width: 649px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            border-left: 1px solid #e9eaed;
            min-height: 41px;

            ._9rx {
                padding: 0;
            }

            ._6-7 {
                border-width: 0 1px;
                color: #4b4f56;
            }
            ._6-6 {
                border-right: 1px solid #e9eaed;
                float: left;
                font-size: 14px;
                font-weight: 600;
                height: 43px;
                line-height: 3.05;
                padding: 0 17px;
                position: relative;
                vertical-align: middle;
                white-space: nowrap;
            }
            ._6a {
                display: inline-block;
            }
            a._p {
                display: block;
            }
            ._9ry {
                display: block;
                padding: 0 17px;
            }
            ._gs6 {
                color: #89919c;
                font-size: 11px;
                font-weight: normal;
                padding-left: 6px;
            }
        }
    }
}