// Colors
$btn-d: #4267b2;
$btn-border-d: #4267b2;
$btn-hover-d: #365899;
$btn-dang-d: #ad2727;
$btn-border-dang-d: #ad2727;
$btn-hover-dang-d: #9b1818;
$btn-color-d: #ffffff;
$typo-color-d-light: #ffffff;

// Typo Sizes
$font-d-12: 12px;