.header-fb {
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
    width:100%;
    box-sizing: border-box;
    height: 43px;
    padding-top: 8px;

    ._collapsed {
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 3px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
        border-radius: 3px;
        max-height: calc(100vh - 96px) !important;

        ul {
            padding: 5px 0;
            list-style-type: none;
            margin: 0;

            li {
                overflow: hidden;
                white-space: nowrap;

                span {
                    border: solid #fff;
                    border-width: 1px 0;
                    color: #1d2129;
                    font-size: 12px;
                    -webkit-font-smoothing: antialiased;
                    font-weight: normal;
                    line-height: 22px;
                    padding: 0 12px;
                    max-width: 300px;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    .inner-container {
        padding: 0;
        width: 900px;
        margin: 0 auto;
    }

    .fb-logo {
        float:left;
        background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/IZFSOi34yXv.png');
        background-repeat: no-repeat;
        background-size: 140px 836px;
        background-position: -25px -219px;
        display: block;
        height: 24px;
        outline: none;
        overflow: hidden;
        text-indent: -999px;
        white-space: nowrap;
        width: 24px;
    }

    .searchBox {
        background-color: #fff;
        border: 1px solid #3b5998;
        border-radius: 3px;
        box-sizing: border-box;
        height: 26px;
        left: -1px;
        margin-left: 15px;
        margin-top: 0;
        max-width: 448px;
        overflow: hidden;
        padding-left: 5px;
        padding-right: 48px;
        position: relative;
        top: -1px;
        float: left;
        width: 300px;
    }

    .search-btn-wrapper {
        background: #f5f6f7;
        border: none;
        border-radius: 0 2px 2px 0;
        bottom: 0;
        cursor: pointer;
        display: block;
        line-height: 1;
        padding: 0 20px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        z-index: 1;
    }

    .search-icon {
        background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/IZFSOi34yXv.png);
        background-repeat: no-repeat;
        background-size: 140px 836px;
        background-position: -125px -192px;
        cursor: pointer;
        display: block;
        height: 14px;
        position: absolute;
        right: 12px;
        top: 4px;
        width: 14px;
        z-index: 2; 
    }
    
    .r_menu {
        padding: 0 5px 0 4px;
        margin-left: 0;
        display: inline-block;
        padding: 0 9px;
        vertical-align: top;
        position: relative;
        .item {
            float: right;
            margin: 0 2px;
            padding: 0px 3px;
            &:last-child {
                padding:0px;
            }
        }
        &:before {
            content: '';
            display: block;
            height: 18px;
            left: -1px;
            position: absolute;
            top: 5px;
            width: 1px;
            background: rgba(0, 0, 0, .1);
        }
    }

    .i {
        background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/IZFSOi34yXv.png);
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
        &.arrow {
            background-size: 140px 836px;
            background-position: -25px -294px;
        }
        &.question {
            background-size: 140px 836px;
            background-position: -50px -319px;
        }
        &.notif {
            background-size: 140px 836px;
            background-position: -100px -269px;
        }
        &.msg {
            background-size: 140px 836px;
            background-position: 0 -319px;  
        }
        &.ff {
            background-size: 140px 836px;
            background-position: -75px -294px;
        }
    }

    .s-1 {
        padding-right: 11px;
        padding: 0 12px 1px;
        background-color: transparent;
        color: inherit;
        display: inline-block;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        height: 27px;
        line-height: 28px;
        padding: 0 10px 1px;
        position: relative;
        text-decoration: none;
        vertical-align: top;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
            border-radius: 2px;
            color: inherit;
            outline: none;
            text-decoration: none;
            z-index: 1;
            background: rgba(0, 0, 0, .1);
        }
        img {
            border-radius: 50%;
            width: 20px;
            display: inline;
            vertical-align: middle;
            height: 20px;
            margin-right: 5px;
        }
    }
}