.userIcon {
    background-image: url('../Images/userICO2.png');
    background-size: 33px 367px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.userIcon_2 {
    background-image: url('../Images/userICO.png');
    background-size: 33px 847px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;

    &.edit { background-position: 0 -456px;     padding-bottom: 1px; }
    &.fb { background-position: 0 -558px;     padding-bottom: 1px; }
    &.camera {
        width: 26px;
        height: 21px;
        background-position: 0 -33px;
        bottom: 4px;
        cursor: pointer;
        display: inline-block;
        position: absolute;

        span {
            color: $typo-color-d-light;
            margin-left:10px;
            margin-left: 30px;
            font-size: $font-d-12;
            text-decoration: none;
            font-style: normal;
            font-weight: 800;
        }
    }
}

.userIcon_4 {
    background-image: url('..//Images/userICO3.png');
    background-size: 121px 158px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;

    &.edit { background-position: -68px -141px; }
    &.info { background-position: -34px -141px; }
    &.work { background-position: 0 -141px; }
    &.info { background-position: -34px -141px; }
    &.about { background-position: -51px -141px; }
    &.home { background-position: 0 -127px; }
    &.owl {
        width: 120px;
        height: 115px;
        background-position: 0 0;
        margin-top: 16px;
        margin-left: 20px;
        margin-right: 20px;
        float:left;
    }
}

.userIcon_5 {
    background-image: url('..//Images/userICO4.png');
    background-size: 286px 4713px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;

    &.edit { background-position: -221px -2051px; }
}

.userIcon_6 {
    background-image: url('..//Images/userICO5.png');
    background-size: 25px 204px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;

    &.home { background-position: 0 -127px; }
    &.bday { background-position: 0 -42px; }
    &.mail { background-position: 0 -59px; }
    &.pwd { background-position: 0 -93px; }
}

.UserHead {
  display: flex;
  padding: 5px;

    .Avatar {
        width:35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, .1);
    }

    .userAvatarContainer {
        position: relative;
        float: left;
    }
}

.UserInfo {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    display:inline;
    padding: 0px 10px 0px;
    
    span {
        margin-bottom: 2px;
        padding-right: 22px;
        display:block;
    }
}

.timeLabel {
    font-size: 12px;
    color: #616770;
    display: block;
    font-weight: normal;
}

.onlineTag {
    background-color: #42b72a;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 9px;
    left: 76%;
    position: absolute;
    top: 68%;
    width: 9px;
    z-index: 1;
}

/*
User Page
*/

.userCoverContainer {
    display: block;
    position: relative;
    height: 315px;
    overflow: hidden;
    text-decoration: none;

    .coverImage {
        top: 0px;
        width: 100%;

        img {
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            left: 0;
            max-width: 800px;
            max-height: 315px;
        }
    }

    .coverBorder {
        background: linear-gradient(rgba(0,0,0,0) 71%, rgba(0,0,0, .53));
        border-bottom-color: rgba(0, 0, 0, .4);
        border: 1px solid #000;
        border-color: rgba(0, 0, 0, .25);
        border-top-color: rgba(0, 0, 0, .1);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

/*
User page grid
*/

.profilePicThumb {
    box-shadow: none;
    height: 160px;
    left: 15px;
    margin-top: 0;
    top: -143px;
    width: 160px;
    display: block;
    padding: 5px;
    position: absolute;
    border-radius: 100%;
    background: rgba(0, 0, 0, .15);
    background-color: #fff;
}

.userInfoCover {
    ._2xc6 {
        bottom: 12px;
        left: 201px;
        position: absolute;
        top: -70px;
    }
    ._2nlv {
        font-size: 24px;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        line-height: 30px;
        max-width: 275px;
        position: relative;
        margin:0;

        .alternate_name {
            float: left;
            font-size: 20px;
            font-weight: normal;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 280px;
        }
    }
    ._2nly {
        position: absolute;
        white-space: nowrap;
    }
    ._2nlw {
        color: #fff;
        text-rendering: optimizelegibility;
        text-shadow: 0 0 3px rgba(0, 0, 0, .8);
    }
    ._actionBar {
        bottom: 15px;
        padding: 0;
        position: absolute;
        right: 15px;
        float: right;
        max-width: 400px;

        a, button {
            margin-left: 12px;  
            background-clip: padding-box;
            border-color: rgba(0, 0, 0, .4);
            margin-top: 12px;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            white-space: nowrap;
            line-height: 26px;
            padding: 0 10px;
            background-color: #f5f6f7;
            border-color: #ccd0d5;
            color: #4b4f56;
            border: 1px solid;
            border-radius: 2px;
            box-sizing: content-box;
            font-size: 12px;
            -webkit-font-smoothing: antialiased;
            font-weight: bold;
            justify-content: center;
            padding: 0 8px;
            position: relative;
            text-align: center;
            text-shadow: none;
            vertical-align: middle;
            bottom: 40px;

            &:hover {    background-color: #ebedf0; }
        }
    }
}

.coverHeaderContainer {
    border: 1px solid #d3d6db;
    border-radius: 0 0 3px 3px;
}

.fbTimelineHeadline {
    min-height: 41px;
    position: relative;
    width: 100%;
    z-index: 4;
    background: #fff;

    .actionsCoverPic {
        bottom: 15px;
        padding: 0;
        position: absolute;
        right: 15px;
    }

    .headerMenu {
        clear: right;
        padding-left: 201px;
        width: 649px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            border-left: 1px solid #e9eaed;
            min-height: 41px;

            ._9rx {
                padding: 0;
            }

            ._6-7 {
                border-width: 0 1px;
                color: #4b4f56;
            }
            ._6-6 {
                border-right: 1px solid #e9eaed;
                float: left;
                font-size: 14px;
                font-weight: 600;
                height: 43px;
                line-height: 3.05;
                padding: 0 17px;
                position: relative;
                vertical-align: middle;
                white-space: nowrap;
            }
            ._6a {
                display: inline-block;
            }
            a._p {
                display: block;
            }
            ._9ry {
                display: block;
                padding: 0 17px;
            }
            ._gs6 {
                color: #89919c;
                font-size: 11px;
                font-weight: normal;
                padding-left: 6px;
            }
        }
    }
}

.userDetails {
    border: 1px solid #dddfe2;
    border-radius: 3px;
    background-color: #fff;
    padding: 12px;
    width: 100%;
    margin-right: 20px;
    display: inline-block;

    .title {
        font-size: 16px;
        line-height: 20px;
    }

    .body {
        border-top: 1px solid #ebedf0;
        margin-bottom: 8px;
        margin-top: 4px;

        ul {
            list-style-type: none;
            padding:0;

            li {
                font-size: 12px;
                line-height: 16px;
                margin:5px 0px 10px 0px;

                i {
                    margin-right: 7px;
                    vertical-align: bottom;
                    &.rss {background-position: 0 -214px;}
                    &.job {background-position: 0 -180px;}
                    &.clock {background-position: 0 -197px;}
                    &.home {background-position: 0 -248px;}
                }
            }
        }

        &.friends {
            li {
                margin: 0px 0px 0px 2px;
                display: inline-block;
            }
        }

        img {
            height: 101px;
            width: 101px;
        }

        ._fr_name {
            background: linear-gradient(transparent, rgba(0, 0, 0, .7));
            bottom: 4px;
            color: #fff;
            left: 0;
            padding: 5px;
            position: absolute;
            right: 0;
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.userEditProfileComp {
    .dialog {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
        font-family: Helvetica, Arial, sans-serif;
        margin: 0 auto 40px;
        position: relative;
        width: 650px;
        margin-top: 40px;

        .t1 {
            background-color: #f5f6f7;
            border-bottom: 1px solid #e5e5e5;
            border-radius: 3px 3px 0 0;
            color: #1d2129;
            font-weight: bold;
            line-height: 19px;
            padding: 10px 12px;
        }

        .i-con-images {
            position: relative;
            height: 280px;
            width: 650px;
            overflow: hidden;
        }

        .i1 {
            bottom: 10px;
            cursor: pointer;
            display: inline-block;
            position: absolute;
            left: 10px;
            position: absolute;
            img {
                border-radius: 50%;
                background: rgba(0, 0, 0, .15);
                padding: 1px;
                width:134px;
                height:134px;
            }
            input[type='file'] {
                opacity: 0;
                z-index: 1000;
                position: absolute;
                bottom: 5px;
            }
        }

        input[type='file'] {
            opacity: 0;
            z-index: 1000;
            position: absolute;
            top: 10px;
        }

        .t-bg {
            background-color: #f5f6f7;
            border: 1px solid #dddfe2;
            border-radius: 0;
            line-height: 26px;
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 12px;
            padding-top: 12px;
        }

        .t-bg-edit {
            background: #444950;
            color: #fff;
            position: relative;

            span {
                position: absolute;
                top: 35px;
                right: 55px;
            }
        }

        .txt-full {width:100%;}
        .txtArea {
            border: none;
            background-color: #fff;
            color: #1c1e21;
            display: block;
            resize: none;
            text-align: center;
            width: 99%;
            font-size: 12px;
        }
    }
}

// Find People section

.friendList {
    img { width: 48px; height: 48px; }
    span {
        display: block;
        font-weight: 600;
        padding: 5px 0px;
    }
}